.AddMessage__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AddMessage__form--inputMSG {
  border: none;
  padding: 6px 20px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
  width: 500px;
  height: 150px;
}

.AddMessage__form--inputIMG {
  padding: 6px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
  width: 500px;
  height: 50px;
}

.AddMessage__form--button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
}

.AddMessage__form--button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .AddMessage__form--inputMSG {
    width: 50vw;
    height: 20vh;
  }

  .AddMessage__form--inputIMG {
    width: 50vw;
    height: 50px;
  }
}
